{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataHunt</title>
    <link rel="icon" href="{% static 'image/101-database.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
</head>
<body>
    <header>
        <div class="header_logo">
            <a href="{% url 'home' %}">DataHunt</a>
        </div>

        <div class="navbar-nav-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'statistics' %}">Статистика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li>
                <a class="nav-link " href="{% url 'contact' %}">Контакты</a>
            </li>
        </div>
    </header>


    <div class="container content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">© 2025 Yegor Shabrov. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>