{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>DataHunt</title>
    <link rel="icon" href="{% static 'image/101-database.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="header_logo">
            <a href="{% url 'home' %}">DataHunt</a>
        </div>

        <ul class="navbar-nav-right">
            <li class="nav-item dropdown">
                <a class="nav-link" href="">Статистика</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'article_direct' slug='GeneralStatistics' %}">Общая статистика</a></li>
                    <li><a href="{% url 'article_direct' slug='Demand' %}">Востребованность</a></li>
                    <li><a href="{% url 'article_direct' slug='Geography' %}">География</a></li>
                    <li><a href="{% url 'article_direct' slug='Skills' %}">Навыки</a></li>
                    <li><a href="{% url 'article_direct' slug='LatestVacancies' %}">Последние вакансии</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link " href="{% url 'article_direct' slug='contact' %}">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'article_direct' slug='about' %}">О нас</a>
            </li>
        </ul>
    </header>


    <main class="container content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p class="text-muted">© 2025 Yegor Shabrov</p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
        duration: 1000,
        once: true
        });
    </script>

    <script>
    // Отключаем масштабирование через Ctrl + колесо мыши
    window.addEventListener('wheel', function (e) {
        if (e.ctrlKey) {
            e.preventDefault();
        }
    }, { passive: false });

    // Отключаем масштабирование через жесты (на тачпадах Mac)
    window.addEventListener('gesturestart', function (e) {
        e.preventDefault();
    });

    window.addEventListener('gesturechange', function (e) {
        e.preventDefault();
    });

    window.addEventListener('gestureend', function (e) {
        e.preventDefault();
    });
    </script>
</body>
</html>