.header_logo a {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 22px;
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* добавлена тень */
    padding: 26px 20px;
}

.header_logo a:hover{
    color: orange;
}

header {
    z-index: 1000; /* чтобы был выше остального контента */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Alex Brush', cursive;
    background-color: #3c3a3a;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.navbar-nav-right {
    display: flex;
    flex-wrap: nowrap;       /* Не переносить элементы на новую строку */
    padding: 0px 0px;        /* убирает отступы */
    margin: 0px;
    font-size: 20px;
    align-items: left;       /* Выравнивание по left */
    text-shadow: 2px 2px 4px rgba(33, 37, 41, 0.5); /* добавлена тень */
}

.nav-link {
    display: block; /* теперь фон применяется ко всей области */
    padding: 26px 20px; /* увеличь область клика */
    text-decoration: none;
}

.nav-link:hover {
    background-color: #212529;
    color: orange;
}

/* Скрыть подменю по умолчанию */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #3c3a3a;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    top: 100%;
    min-width: 160px;
    z-index: 1000;
    border-radius: 4px;
}

/* Элементы внутри подменю */
.dropdown-menu li a {
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #212529;
    color: orange;
}

/* Показывать меню при наведении */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown {
    position: relative;
}

footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.First_frame {
    width: 100%;
    height: 100vh;
    background-image: url("../image/gori.jpg");
    background-size: cover;
    background-position: center;
    position: relative; /* нужно для .text-block */
}

.Second_frame {
    background-color: white;
    padding-top: 100px; 
    position: relative;
}
h1{
    color:orange;
    font-size: 48px;
    text-align: center;
    margin-bottom: 1cm;
}

.text{
    color: white;
    font-size: 38px;
    letter-spacing: 2px; /* увеличивает промежутки между символами */
    line-height: 1.1; /* 1.5–2 — комфортно читается */
    text-indent: 2em; /* отступ первой строки абзаца */
    
}

.text-block{
    position: absolute;
    top: 90px;
    right: 60px;
    width: 550px;
    height: 750px;
    background-color: #1f1d1d;
    border-radius: 20px;
    padding: 50px; /*мб поменяю */
}

.second_text-block_1 {
    margin-top: 50px;
    background-color: #1f1d1d;
    border-radius: 20px;
    padding: 50px;
    width: 500px;
    height: 50px;
    color: white;
    margin-left: 60px;
    margin-bottom: 50px;
}

.second_text-block_2 {
    margin-top: 50px;
    background-color: #1f1d1d;
    border-radius: 20px;
    padding: 50px;
    width: 550px;
    height: 450px;
    color: white;
    margin-left: 60px;
    margin-bottom: 50px;
}

.text_menu{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1.;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #3c3a3a #1f1f1f;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3c3a3a;
  border-radius: 10px;
}