{% extends 'article_list.html' %}
{% load static %}

{% block content %}
<ul class="navbar-nav-right">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Statistics</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'article_direct' slug='GeneralStatistics' %}">General statistics</a></li>
                    <li><a href="{% url 'article_direct' slug='Demand' %}">Demand</a></li>
                    <li><a href="{% url 'article_direct' slug='Geography' %}">Geography</a></li>
                    <li><a href="{% url 'article_direct' slug='Skills' %}">Skills</a></li>
                    <li><a href="{% url 'article_direct' slug='LatestVacancies' %}">Latest vacancies</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link " href="{% url 'contact' %}">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About us</a>
            </li>
        </ul>
<h1>{{ article.title }}</h1>

<div>
    {{ article.content|safe }}
</div>
{% endblock %}
