{% extends 'article_list.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="display-4 mb-4">Контакты</h1>
        <p class="lead">Свяжитесь с нами</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Наши контакты</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2">📧 Email: info@DataHunt.com</li>
                            <li class="mb-2">📞 Телефон: +7 (999) 123-45-67</li>
                            <li class="mb-2">📍 Адрес: г. Москва, ул. Примерная, д. 1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Время работы</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2">Пн-Пт: 9:00 - 18:00</li>
                            <li class="mb-2">Сб-Вс: Выходной</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 