
{% extends 'article_list.html' %}
{% load static %}

{% block content %}
<div class="main_info">
    <div class="First_frame">
        <div class="text-block">
            <h1 class="title_block">
                Conquering the Peaks of Analytics
            </h1>
            <p class="text">
                The work of an analyst is like climbing a mountain.
            </p>
            <p class="text">
                The journey is challenging — steep slopes of data, cliffs of hidden insights, and fogs of ambiguity. But those who reach the summit gain a breathtaking view — deep understanding, recognition, and high rewards.
            </p>
            <p class="text">
                Today, analysts are among the most sought-after professionals, guiding others through the uncertain terrain of the modern world.
            </p>
        </div>
    </div>

    <div class="Second_frame">
        <div class="second_text-block_1">
            <h1 class="title_block">
                How an Analyst Works
            </h1>
        </div>
        
        <div class="second_text-block_2">
            <p class="text">
                The work of an analyst is a structured process of solving business problems using data.
            </p>
            <p class="text">The first step is problem definition. The analyst collaborates with stakeholders to understand exactly what needs to be measured, which metrics matter, and what decisions will rely on the analysis.

            </p>
        </div>
        


    </div>
</div>
{% endblock %}
